@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mission 6</h1>
    <br />
    <br />
    <h5>Group 2-15 (A.K.A. Bear Maximum)</h5>
    <br />
    <p>Emma Swalberg, Ryan Ward, Mason Perry, Levi Morse</p>
    <br />
    <img src="img/bear.jpeg" />
</div>
